In [3]:
#function to print all combination of unique list
#[1,2,3]...>(1,2)(1,3)(2,3)--->3c2
#[1,2,3,4]...>(1,2)(1,3)(1,4)(2,3)(2,4)(3,4)
def combination(li):
#     a=[]
    for i in range(len(li)):
        for j in range(i+1,len(li)):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
combination([1,2,3,4,5])

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [80]:
#claculate difference b/w the pairs in the list and add diff into that list
#[1,2,3]...>[1,2,3]
def diferencepairs(li,h):
    cli=li
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in cli:
                cli.append(d)
                newelements.append(d)
    print(newelements)
    print(cli)
    cli.sort(reverse=True)
    print(cli)
    print(cli[h-1])
diferencepairs([1,9],2)

[8]
[1, 9, 8]
[9, 8, 1]
8

In [ ]:
def medium(li):
    while(True):
        li2=diferencepairs(li)
        if len(li2)==0:
            break
    return li
medium([1,9,8,6,7,2,5,3,4])

In [74]:
#max frequency and difference add 
def diferencepairs(li):
    cli=li
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in cli:               
                newelements.append(d)
    return li+newelements

#diferencepairs([1,9])

def constant(u):
    k = u
    while True:
        if(u == k):
            return u
            break
        else:
            k = diferencepairs(u)
            
constant([1,9])

[1, 9]

In [77]:
def differenceOfPairs(li):
    c = 0
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in li:
                li.append(d)
                differenceOfPairs(li)
                c=c+1
                
    return li  
def kthLargestofDeiffrencePairs(li,k):
    li2 = differenceOfPairs(li)
    print(li2)
    li2 = sorted(li2,reverse = True)
    highest = li2[k-1]
    print(highest)
kthLargestofDeiffrencePairs([1,4],4)

[1, 4, 3, 2]
1

In [113]:
def diffPairs(li,k):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            value=abs(li[i]-li[j])
            if value not in li:
                li.append(value)
                diffPairs(li,k)
    if len(li)>k:
        hig=li[k]
        return hig
    else:
        return -1
#     return sorted(li,reverse=True)
# with open("DataFiles/",'r')as f:
#     t=int(f.readline())
#     for o in range(t):
#         f.readline()
#         li=f.readline().split()
#         k=int(f.readline())
diffPairs([1,9],3)

7

In [118]:
def difpairs(li):
    newelements=[]
    c=li.copy()
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return [li,c]
li=[3,6,9,12,2]
difpairs(li)

[[3, 6, 9, 12, 2, 1, 4, 7, 10], [3, 6, 9, 12, 2]]

# set  -  Data Structure in python

represented by '{ }'<br>
it contains only unique elements<br>
add() function to add data into sets<br>

In [119]:
a={1,2,3,4,4}
a

{1, 2, 3, 4}

In [123]:
a.add(5)
a
for i in a:
    print(i,end=' ')

1 2 3 4 5

In [11]:
a={1}
b={6,7}
b.update(a)
b

{1, 6, 7}

In [126]:
a
c={8,9}

In [129]:
#update 
a.update(c,[10,11,12])

In [130]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [131]:
#remove 
a.discard(12)

In [132]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [134]:
#remove()
a.remove(2)

In [135]:
a

{1, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [136]:
a

{1, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [141]:
# A U B
a={1, 3, 4, 5, 6, 7, 8, 9, 10, 11}
b={11,12,13}
# a.union(b)
b.union(a)

{1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [142]:
# A N B
a.intersection(b)

{11}

In [144]:
#iddisjoint 
b.isdisjoint(a)

False

In [145]:
a

{1, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [146]:
b

{11, 12, 13}

In [147]:
a-b  #common elements are removed

{1, 3, 4, 5, 6, 7, 8, 9, 10}

In [148]:
sorted(a)

[1, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [149]:
type(a)

set

In [150]:
a=sorted(a)

In [151]:
type(a)

list

In [162]:
a={1, 3, 4, 5, 6, 7, 8, 9, 10,11,"satheesh","prasanna"}

In [153]:
a

{1, 3, 4, 5, 6, 7, 8, 9, 10}

In [158]:
a^b#removing the common element and combine all elements

{1, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13}

In [155]:
a

{1, 3, 4, 5, 6, 7, 8, 9, 10}

In [156]:
b

{11, 12, 13}

In [159]:
a

{1, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [163]:
a

{1, 10, 11, 3, 4, 5, 6, 7, 8, 9, 'prasanna', 'satheesh'}

In [164]:
#create empty set
d=set()

In [165]:
d

set()

In [166]:
li=[1,2,3,4,2,1,3,4]
u=set(li)
u

{1, 2, 3, 4}

procedural :c<br>
object oriented: Java,python<br>
Scripting : PHP,Python,JavaScript,Shellscripting<br>
Functional :Python,Haskel,Scala<br>
logic :Prolog ,Lisp

List Comprehension

In [172]:
# List of N naturals no
n=10
a=[]
for i in range(1,n):
    a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [174]:
li=[i for i in range(1,11)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [175]:
#apply list comprehension to store the cubes on n natural no
li=[i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [178]:
# function to calculate  factioral
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)
#apply comprehension to calculate factorial n natural no
n=10
factorialList=[factorial(i) for i in range(1,n+1)]
factorialList

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [205]:
# calculate or store cumulative sum of numbers till n in alist
#n=3...[1,1+2=3,3+3=6]
#n=5....[1,3,6,10,15]

n=5    
cumulative=[sum(range(1,i+1)) for i in range(1,n+1)]
cumulative
# print(a+cumulative)

[1, 3, 6, 10, 15]

In [210]:
#list comprehension to store only leap years in given time period
st=1970
et=2019
def le(i):
    if (i%400==0) or (i%4==0 and i%100!=0):
        print("leap",i)
        


leap=[le(i) for i in range(st,et)]
leap1=[i for i in range(st,et+1) if i%400==0 or (i%4==0 and i%100!=0)]
leap1

leap 1972
leap 1976
leap 1980
leap 1984
leap 1988
leap 1992
leap 1996
leap 2000
leap 2004
leap 2008
leap 2012
leap 2016

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [234]:
#li=[1,2,3,2,1]
li=[1,2,3,2,1]
li22=[]
[li22.append(i) for i in li if i not in li22]

li22

[1, 2, 3]

# Iterator
i- iterable:string,list,sets ,Dictionaries
convert iterable to Tterator..>iter()

In [5]:
it=iter("python")
print('1: ')
print(next(it))
print(next(it))

1:
p
y

# Generator

In [253]:
def generator():
    n=2
    while True:
        n=n**3
        yield n
a=generator()
for i in range(5):
    print(next(a))
# next(a)
# b=next(a)**2
# b

# next(a)
# next(a)

8
512
134217728
2417851639229258349412352
14134776518227074636666380005943348126619871175004951664972849610340958208